<div class="details">
  <navbar type="'details'"></navbar>
  <card class="details--card"></card>
  <div class="details--content">
    <h2>What happens during this visit?</h2>

    <div class="details--content--emphasis">
      The visit will take about 45 minutes to an hour.<br />
      During this visit the health visitor will:
    </div>

    <div>
      She may as you to fill in a questionnaire called the Edin
    </div>
  </div>
  
  <div class="details__footer">
    <div class="details__footer__cta">
      Do you need to reschedule another visit?
    </div>
  </div>

</div>
