@import '../../common/common'

.details
  padding-top 3rem
  background-color $lightBgColor
  min-height 100vh

  .card
    background-color $darkBgColor
    border-radius 0
    background-image none

  &--content
    padding 0 1em 1em 1em

    h2, &--emphasis
      color $accentTextColor

    &--cta
      background-color $bgColor
  
  &__footer
    width 100%
    position fixed
    bottom 0
    left 0
    padding 0.5rem
    background-color white
    &__cta
      padding 1rem
      text-align center
      font-size 1rem
      background $bgColor
      color white 