@import '../../common/common'

.details
  padding-top 4rem
  background-color $lightBgColor
  height 100

  .card
    background-color $darkBgColor

  &--content
    padding 0 1em 1em 1em

    h2, &--emphasis
      color $accentTextColor

    &--cta
      appearance none
      box-shadow none
      border-radius 0
      border 0 none
      width 100%
      color $textColor
      background-color $bgColor
