@import '../../common/common'

.details
  padding-top 7rem
  background-color $lightBgColor
  padding 0 1em 1em 1em
  height 100

  h2, &--emphasis
    color $accentTextColor

  &--cta
    appearance none
    box-shadow none
    border-radius 0
    border 0 none
    width 100%
    color $textColor
    background-color $bgColor
