@import url(http://fonts.googleapis.com/css?family=Nunito)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css)

$accentColor = #f45e29
$bgColor = #26c9da
$darkBgColor = #22b4c3
$textColor = #ffffff
$darkTextColor = #333333
$accentTextColor = $bgColor

body
  height 100%
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  background-color $bgColor
  font 62.5% 'Nunito', sans-serif
  *
    box-sizing border-box
