@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic')
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css)

$accentColor = #f45e29
$bgColor = #26c9da
$lightBgColor = #ffffff
$darkBgColor = #22b4c3
$lightBgColor = #26c9da
$textColor = #ffffff
$darkTextColor = #333333
$accentTextColor = $bgColor

body
  height 100%
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.d
  font 62.5% 'Open Sans', sans-serif
  background-color $bgColor
  *
    box-sizing border-box
    

  /* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
 -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-enter-active {
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(-100px, 0, 0);
  -moz-transform:translate3d(-100px, 0, 0);
  transform:translate3d(-100px, 0, 0);
}